<template name="layout">
	<div class="container-fluid"> 

		<!-- Here is the standard Bootstrap code for a Navigation bar taken directly from getbootstrap.com/components -->
		<!--<nav class="navbar navbar-default">
		  <div class="container-fluid">

		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed"
			  			data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="btn btn-lg btn-primary" href="{{pathFor 'home'}}">
		      	Buy or Sell</a>
		    </div>

	
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		      	<ul class="nav nav-pills">

							<li><a href="{{pathFor 'buy'}}">Buy</a></li>
							{{#if currentUser}}
							<li><a href="{{pathFor 'sell'}}">Sell</a></li>
							{{/if}}
							<li><a href="{{pathFor 'contact'}}">Contact us</a></li>
							<li><a href="{{pathFor 'comments'}}">Comments</a></li>
							{{#if currentUser}}
							<li><a href="{{pathFor 'profile'}}">Profile</a></li>
							{{else}}
							<li><a href="{{pathFor 'register'}}">Register</a></li>
							{{/if}}
				</ul>

			    <ul class="nav navbar-nav navbar-right">
			            {{> loginButtons}} 

			    </ul>
		    </div><

		  </div>
		</nav>-->

		<!-- Here is where the actual content of the page gets inserted by the router! -->
		<div class="row">
			<div class="col-sm-3 col-lg-2">
				<nav class="navbar navbar-default navbar-fixed-side">
						<div class="container">
							<div class="navbar-header">
										      <button type="button" class="navbar-toggle collapsed"
			  			data-toggle="collapse" data-target=".navbar-collapse">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						      </button>
						      <a class="btn btn-lg btn-primary" href="{{pathFor 'home'}}">
						      	Buy or Sell</a>
							</div>

							<div class="collapse navbar-collapse">
								<ul class="nav navbar-nav">

									<li><a href="{{pathFor 'buy'}}">Buy</a></li>
									{{#if currentUser}}
									<li><a href="{{pathFor 'sell'}}">Sell</a></li>
									<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="{{pathFor 'profile'}}">Profile</a></li>
											<li><a href="{{pathFor 'contact'}}">Contact us</a></li>
										</ul>
									</li>
									<li><a href="{{pathFor 'comments'}}">Comments</a></li>
									<li><a href="#" id="logoutLink">Logout</a></li>
									{{else}}
									<li><a href="{{pathFor 'register'}}">Register</a></li>
									<li><a href="{{pathFor 'comments'}}">Comments</a></li>
									<li><a href="{{pathFor 'login'}}">Login</a></li>
									{{/if}}
						</ul>

							</div>
			    	</div>
				</nav>
			</div>

			<div class="col-sm-9 col-lg-10">
			{{> yield}}
			</div>
		</div>
		

	</div>
</template>
